# Android / Gradle
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
android/captures/
android/.externalNativeBuild/
android/.cxx/
*.apk
*.aab
*.ap_
*.dex
android/gradle/wrapper/
android/gradlew
android/gradlew.bat

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
